* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "HCo Gotham SSm", "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f9ecd9;
}

.p4main {
  height: 1830px;
  width: 100%;
  padding-top: 140px;
  background-color: #f9ecd9;
}
.section1 {
  height: 430px;
  width: 100%;
}
.section1-div {
  display: flex;
}

.section1-div-first {
  height: 430px;
  width: 700px;
  background-color: #fde6c3;
}
.section1-div-second {
  height: 430px;
  width: 816px;
  background-color: white;
  border: 1px solid rgb(74, 74, 74);
}
.section1-div-first-div {
  margin: 100px 95px 50px 100px;
}
.section1-div-first-div > .headding {
  margin-bottom: 20px;
}
.section1-div-first-div > .para1 {
  margin-bottom: 20px;
}
.section2 {
  height: 400px;
  width: 100%;
  color: white;
}
.section2-div {
  display: flex;
}

.section2-div-first {
  height: 400px;
  width: 400px;
  background-color: white;
  border: 1px solid rgb(74, 74, 74);
}
.section2-div-second {
  height: 400px;
  width: 1196px;
  background-color: #9a9b82;
}
.section2-div-first-div {
  margin: 100px 194px 100px 126px;
  padding: 20px;
}
.section2-div-first-div > .headding {
  margin-bottom: 20px;
}

.section3 {
  height: 430px;
  width: 100%;
}
.section3-div {
  display: flex;
}

.section3-div-first {
  height: 430px;
  width: 896px;
}
.section3-div-second {
  height: 430px;
  width: 700px;
  background-color: white;
  border: 1px solid rgb(74, 74, 74);
}
.section3-div-first-div {
  margin: 100px 275px 100px 80px;
}
.section3-div-first-div > .headding {
  margin-bottom: 20px;
  text-transform: uppercase;
}
.section3-div-first-div > .para1 {
  margin-bottom: 20px;
}
.section4 {
  height: 430px;
  width: 100%;
}
.section4-div {
  display: flex;
}

.section4-div-first {
  height: 430px;
  width: 850px;
  background-color: #fde6c3;
}
.section4-div-second {
  height: 430px;
  width: 750px;
  border: 1px solid rgb(74, 74, 74);
}
.section4-div-first-div {
  margin: 100px 150px 50px 150px;
}
.section4-div-first-div > .headding {
  margin-bottom: 20px;
}
.section4-div-first-div > .para1 {
  margin-bottom: 20px;
}
